@import "../../vars.css";

.container {
  position: relative;
  background-color: rgb(255, 255, 255);
  /* border-radius: 15p`x; */
  padding: 73px;
  padding-left: 173px;
  padding-right: 173px;

  /* margin-top: 129px; */
  /* margin-bottom: 129px; */
  z-index: 1;
  /* margin-left: 10%;
  margin-right: 10%; */
}

.title {
  color: black;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  padding-bottom: 50px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* max-width: 70%; */
}

.servicesImage {
  width: 55%;
  padding: auto;
}

.servicesItems {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.servicesItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.servicesItem:hover {
  background-size: 100% 100%;
}

.servicesItem h3 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

.servicesItem p {
  /* font-family: "Open"  ; */
  font-size: 16px;
  padding: 10px;
  /* text-align: justify; */
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .servicesImage {
    display: none;
  }

  .servicesItems {
    margin-top: 29px;
    flex-direction: column;
  }

  .servicesItem {
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(255, 255, 255);
  }

  .title{
    color: var(--color-text);
  }
}

.img{
  height: 100px;
  width: 100px;
  padding: 5px;
  /* margin: 5px; */
}