:root {
  /* Colours */
  --color-text: #000000;
  --color-primary: #13b950;
  --color-secondary: #196d42;
  --color-dark: #fffafa;
  --color-bg: #fffdfd;

  /* Fonts */
  --font-roboto: "Roboto";
}
